<form action="/toTxt">
    <p>Модель ноутбука</p>
    <input type="text" name="laptoName">
    <p>Год выпуска</p>
    <input type="number" name="year">
    <p>Цена</p>
    <input type="number" name="prise">
    <p>Операционная система</p>
    <input type="text" name="osName">
    <p>Процессор</p>
    <input type="text" name="processName">
    <p>Диагональ экрана</p>
    <input type="number" name="screen"> <br><br>
    <input type="submit">
</form>


<div class="block1">
    <a href="/listOfLaptop">Список всех ноутбуков </a>
</div>
